---
version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    open-pull-requests-limit: 10
    labels:
      - 'dependencies'
    groups:
      development-dependencies:
        dependency-type: 'development'
        update-types:
          - 'minor'
          - 'patch'
      production-dependencies:
        dependency-type: 'production'
        update-types:
          - 'minor'
          - 'patch'
    commit-message:
      prefix: 'chore(deps):'
      include: 'scope'
    automerge:
      type: 'pr'
      update-types:
        - 'major'
        - 'minor'
        - 'patch'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    labels:
      - 'dependencies'
    commit-message:
      prefix: 'chore(ci):'
    automerge:
      type: 'pr'
      update-types:
        - 'major'
        - 'minor'
        - 'patch'
