.DS_Store

# Node/PNPM
node_modules/
dist/
build/

# Logs
*.log

# Lighthouse CI reports
.lighthouseci/*.html
.lighthouseci/*.json

# Compiled JavaScript from TypeScript sources
src/**/*.js
scripts/**/*.js

